language: node_js
node_js:
  - "14"
sudo: required
services:
  - docker
branches:
  only:
    - "master"
script:
  - docker build -t node-hello -f Dockerfile .  
deploy:
  provider: script
  script: bash scripts/deploy.sh
  on:
    branch: master