language: node_js
node_js:
- '14'
sudo: required
services:
- docker
branches:
  only:
  - master
script:
- docker build -t node-hello -f Dockerfile .
before_deploy:
- openssl aes-256-cbc -K $encrypted_db2095f63ba3_key -iv $encrypted_db2095f63ba3_iv
  -in deploy_rsa.enc -out deploy_rsa -d
deploy:
  provider: script
  script: bash scripts/deploy.sh
  on:
    branch: master
